# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: None

[flake8]
max-line-length = 120
extend-ignore =
    # options for black compatibility
    E203,
    E701
    # too long lines are something to fix in the future
    E501,
    # TODO fix "do not compare types"
    E721,
    # TODO fix "imported but unused" yet disabled because of CraftCore
    F401,
    # TODO fix "do not use bare 'except'"
    E722,
    # TODO fix "module level import not at top of file"
    E402,
    # TODO fix "do not assign a lambda expression, use a def"
    E731
extend-exclude =
    __pycache__,
    *.egg-info,
    .venv,
