# general
*.orig
*.bak
*.rej

# python
*.pyc
*~
python/*
test.outlog

# from kdiff3
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# pycharm
.idea/

# kdevelop
.kdev4/
.kdev5/
*.kdev4
*.kdev5
