[KCM Locale]
Name=Germany
Name[af]=Duitsland
Name[ar]=ألمانيا
Name[as]=জাৰ্মানি
Name[ast]=Alemaña
Name[be]=Германія
Name[be@latin]=Niamieččyna
Name[bg]=Германия
Name[bn]=জার্মানি
Name[bn_IN]=জার্মানি
Name[br]=Alamagn
Name[ca]=Alemanya
Name[ca@valencia]=Alemanya
Name[cs]=Německo
Name[csb]=Miemieckô
Name[cy]=Yr Almaen
Name[da]=Tyskland
Name[de]=Deutschland
Name[el]=Γερμανία
Name[en_GB]=Germany
Name[eo]=Germanio
Name[es]=Alemania
Name[et]=Saksamaa
Name[eu]=Alemania
Name[fa]=آلمان
Name[fi]=Saksa
Name[fr]=Allemagne
Name[fy]=Dûtslân
Name[ga]=An Ghearmáin
Name[gl]=Alemaña
Name[gu]=જર્મની
Name[he]=גרמניה
Name[hi]=जर्मनी
Name[hne]=जर्मनी
Name[hr]=Njemačka
Name[hsb]=Němska
Name[hu]=Németország
Name[ia]=Germania
Name[id]=Jerman
Name[is]=Þýskaland
Name[it]=Germania
Name[ja]=ドイツ
Name[ka]=გერმანია
Name[kk]=Германия
Name[km]=អាល្លឺម៉ង់
Name[kn]=ಜರ್ಮನಿ
Name[ko]=독일
Name[ku]=Almanya
Name[lt]=Vokietija
Name[lv]=Vācija
Name[mai]=जर्मनी
Name[mk]=Германија
Name[ml]=ജര്‍മനി
Name[mr]=जर्मनी
Name[ms]=Jerman
Name[nb]=Tyskland
Name[nds]=Düütschland
Name[ne]=जर्मनी
Name[nl]=Duitsland
Name[nn]=Tyskland
Name[oc]=Alemanha
Name[or]=ଜର୍ମାନି
Name[pa]=ਜਰਮਨੀ
Name[pl]=Niemcy
Name[pt]=Alemanha
Name[pt_BR]=Alemanha
Name[ro]=Germania
Name[ru]=Германия
Name[se]=Duiska
Name[si]=ජර්මණිය
Name[sk]=Nemecko
Name[sl]=Nemčija
Name[sr]=Немачка
Name[sr@ijekavian]=Њемачка
Name[sr@ijekavianlatin]=Njemačka
Name[sr@latin]=Nemačka
Name[sv]=Tyskland
Name[ta]=ஜெர்மனி
Name[te]=జెర్మని
Name[tg]=Германия
Name[th]=เยอรมันนี
Name[tr]=Almanya
Name[uk]=Німеччина
Name[uz]=Olmoniya
Name[uz@cyrillic]=Олмония
Name[vi]=Đức
Name[wa]=Almagne
Name[xh]=Germany
Name[x-test]=xxGermanyxx
Name[zh_CN]=德国
Name[zh_TW]=德國
Region=centraleurope
Languages=de,nds
DecimalSymbol=,
ThousandsSeparator=$0 $0
ThousandsSeparator[nds]=$0.$0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
MonetaryThousandsSeparator[nds]=$0.$0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[de]=%A, %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormat[nds]=%A, de %e. %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
TimeFormat[nds]=%H.%M:$S
#WeekStartDay=
PageSize=0
MeasureSystem=0
AddressFormat=%0(%cm\n)%0(%n\n)%0(Postfach %p\n)%0(%s\n)%z%w%l
AddressFormat[nds]=%0(%n\n)%0(- %cm -\n)%0(Postfach %p\n)%0(%s\n)%z%w%l
AddressCountryPosition=BELOW
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
